.supporters-help {
    border: 1px solid rgba(222,191,227,1);
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 6%;
    height: 90%;
    width: 80%;
    left: 3%;
    position: relative;
    top: 1.5%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(229, 231, 254, 1) 100%);
}

.supporters-help .inner-box {
    box-sizing: border-box;
    padding: 5%;
    position:relative;
    background-color: #413169;
    height: 100%;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color:white;
}

.suppoters-help .inner-box p {
}

.supporters-help button {
    float: right;
    font-size: 20px;
    border: 
}

.supporters-help h1 {
    font-size: 20px;
    text-align:center;
}